*{
  white-space: nowrap;/*per non far andare a capo le canvas della distribuzione verticale*/
  font-family: sans-serif;
}

h1{
  text-align: center;
}

.inTable{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 0px 0px;
}

.prova{
  display: inline-block !important;
  margin-right: 0px;
  margin-top: 10px;
}

canvas.prova{
  position: relative;
  top: 15px;
  z-index: -1;
}

body{
  padding: 0px 0px;
  margin: 0px 0px;
}

#optionBar{
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  background-color: #333;
}

#optionIcon{
  align-content: center;
  justify-content: center;
  padding-top: 5px;
  float: right !important;
  width: 3%;
  height: 100%;
}

#navIconLeft{
  align-content: center;
  justify-content: center;
  position: relative;
  padding-top: 5px;
  left: 40%;
  width: 3%;
  height: 100%;
}
#navIconRight{
  align-content: center;
  justify-content: center;
  position: relative;
  padding-top: 5px;
  left: 42%;
  width: 3%;
  height: 100%;
}

#home{
  align-content: center;
  justify-content: center;
  padding-left: 5px;
  padding-top: 5px;
  width: 3%;
  height: 100%;
}

#optionBar a,#optionBar div{
  float: left;
  color: #f2f2f2;
}



#optionBar a:hover,#optionBar div:hover{
  /* background-color: #5f6e87; */
  /* color: black; */
}

img:hover{
  width: 34px;
  height: 34px;
}

#optionBar a.active{
  background-color: #04AA6D;
  color: white;
}

#overlay{
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 2;
}
#options{
  position: relative;
  width: 30%;
  max-height: 70%;
  top: 15%;
  left: 30%;
  right: 30%;
  bottom: 15%;
  background-color: rgba(255,255,255,1);

  cursor: pointer;
  border: 1px solid;
  overflow-y: scroll;
}


.listColors:checked{
  border: solid;
}

.verticalSpace{
  margin-left: 20px;
}

.moveText{
  position: relative;
  left: 100%;
}

.colorOptions{
  display: flex;
  margin: 10px 10px;
  align-items: center;
  height: 20%;
}

td{
  margin: 0px 0px;
  padding: 0px 0px;
  border: 2px solid;
  font-size: 135%;
}

th{
  border: 2px solid;
}

table{
  border: 1px solid;
  border-collapse: separate;
}

.spacer{
  width: 100%;
  height: 48px;
  margin-bottom: 30px;
}

.infoHeader{
  display: inline;
  font-weight: bold;
}

.infoContent{
  display: inline;
  font-weight: normal;
  margin-right: 40px;
}

.colorSelect{
  height: 50px;
  width: 50%;
  border-radius: 3px;
  margin-right: 70px;
}

.fontSelect{
  width: 50%;
  margin: 10px 10px;
  border-radius: 3px;
  margin-right: 70px;

}

#header{
  position: fixed;
  width: 100%;
  height: 3%;
}

.overlayText{
  margin-left: 10px;
}


.annulla{
  float: right;
  top : 10px;
  border: none;
  position: sticky;
  margin: 10px 10px;
  font-size: large;
  background-color: transparent;
}

.annulla img:hover{
  width: 20px;
  height: 20px;

}

.conferma{
  float: left;
  top: 10px;
  position: sticky;
  border: none;
  background-color: transparent;
  margin: 10px 10px;
  font-size: large;
  border-radius: 3px;
}

.conferma img:hover{
  width: 20px;
  height: 20px;
}

#buttonOverlay{
  position: sticky;
  top: 0px;
  width: 100%;
  height: 45px;
  background-color: #333;
}

.mainSelection:hover{
  background-color: rgba(175, 193, 222, 1);
}

#info{
  margin-top: 30px;
  margin-left: 20px;
}

#file-input{
  margin-top: 20px;
  margin-left: 20px;
}

#file-input:hover{
  border: solid;
}

#classes, #teachers, #courses{
  margin-left: 20px;
}

/* INPUT DEI DATI ---- SECONDA PARTE*/

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  min-height: 92vh;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

label{
  font-weight: bold;
}

.centerTable{
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  border-collapse: collapse;
  border: none;
}

.subjectsTableColumn{
    min-width: 30%;
}

.selected {
    background: lightBlue
}

.selectedCell{
  background: #00FF7F
}

.displayBlock{
  display: block;
  width: auto;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 2px solid #555;
}

select {
  width: 20%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.buttonStyle{
  min-width: 20%;
  height: 20%;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 5px;
  margin: 10px 10px;
}

button.buttonStyle:hover{
  background-color: #ddd;
}

.inputButton{
  display: inline-block;
  width: 100%;
}

#subjectButtons{
  display: inline;
  position: relative;
  left: 40%;
  top: 20px;
}

#inputSubjects{
  float: left;
  width: 30%;
  height: 20%;
  margin: auto;
}

.noMargin{
  border-collapse: collapse;
}

.noMargin td{
  min-width: 50px;
}

label{
  display: block;
}

.selectStyle{
  width: 100%;
}

.side{
  display: inline-block;
  min-width: 20%;
  margin-right: 15%;
}

.line{
  display: inline-block;
  margin: 10px 10px;
}

.side button{
  width: 100%;
}
