.inTable{
  margin: 0px 0px;
}

table, th, td {
            border: 1px solid black;
}

 /* td{
  height: 300px;
} */

.prova{
  display: inline-block !important;
  margin-right: 50px;
}

canvas.prova{
  position: relative;
  top: 15px;
}
